*{
    padding: 0px;
    margin: 0px;
}

.body{
    width: 100vw;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body h1{
    font-size: 3.5em;
}